/*Blue: 3299bb Green: 5bb75b */

h1{	font-weight:normal;line-height:2em;}
h2, .ui-listview>li h2{color:#3299bb; font-size:1.1em;}
h3{    color: #A7A7A7;    border-bottom: 1px solid #ddd; font-weight:normal;    margin: 0 0 .7375em;}

.footer{    font-size: .7em;border-color:#ddd;    padding: .0em 0;}
a#search, a#buy-ticket{  color: #ffffff;  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  background-color: #3299bb; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
a#details{ color: #ffffff;  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  background-color: #3299bb; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }

div.ui-select{background-color:#fff;}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
  background-color: #FFFFFF;
}
body, input, select, textarea, button, .ui-btn {  font-size: 1.1em;    font-family:'Open Sans', calibri, sans-serif;}
/* Prvent all buttons and li's from being bold*/
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {    font-weight:normal;}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit { background-color:#3299bb;   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}

/*Bigger header*/

.grey{color:#A7A7A7;}

.header-button-left {
    position: absolute;
    margin: 0;
    top: 10px;
    bottom: 0.24em;
}
